
* {
  padding: 0em;
  transition-duration: 0s;
  margin: 0em;

  /* Proportional fonts are better for waybar */
  font-family: 'FiraCode Nerd Font Propo';
  font-size: 11pt;
  font-weight: bold;
}

window#waybar {
  background-color: alpha(@base00, 0.85);
  border-radius: 2em;
  padding: 0.2em;
}

#workspaces {
  margin-left: 0.5em;
}

#workspaces button {
  margin: 0.3em 0.2em;
}

#workspaces button label {
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  font-weight: normal;
}

#clock,
#network,
#wireplumber,
#idle_inhibitor,
#battery,
#mode,
#tray,
#custom-power {
  padding: 0.2em 0.5em;
  margin: 0.3em 0.25em;
  border-radius: 0.5em;
}

#custom-power {
  margin-right: 0.5em;
}
