*   { padding: 0px
    ; transition-duration: 0s
    ; margin: 0px
    }

window#waybar
    { background-color: rgba(29, 32, 33, 0.80)
    ; border-radius: 20px
    ; padding: 2px
    }

#workspaces
    { margin-left: 5px
    }

#workspaces button
    { margin: 5px 3px
    ; background: transparent
    }

#workspaces,
#clock, 
#battery,
#idle_inhibitor,
#network,
#wireplumber
    { font-family: 'Fira Code Mono Medium'
    ; font-size: 11pt
    ; font-weight: bold
    }

#workspaces button label
    { padding: 0px 8px
    ; color: #ebdbb2
    ; border-radius: 5px 5px 5px 5px
    ; background-color: #1d2021
    }

#workspaces button.visible label,
#workspaces button.focused label
    { background-color: #3c3836
    ; color: #ebdbb2
    }

#clock,
#network,
#idle_inhibitor,
#battery,
#wireplumber
    { background-color: #1d2021
    ; padding: 0px 8px
    ; margin: 5px 3px
    ; border-radius: 5px 5px 5px 5px
    ; color: #ebdbb2
    }

#clock.1 
    { margin-right: 5px
    }

#idle_inhibitor,
#network
    { padding-right: 12px
    }

#battery { padding-right: 14px }
