*   { padding: 0px 0px 2px 0px
    ; transition-duration: 0s
    ; margin-bottom: 0px
    ; margin: 0px
    }

window#waybar
    { background-color: #1d2021
    ; border-radius: 20px
    ; padding: 2px
    }

#workspaces button
    { margin: 5px 3px 0px 0px
    ; background: transparent
    ; padding: 0px
    }

#workspaces,
#clock, 
#battery,
#network
    { font-family: 'Fira Code Mono Medium'
    ; font-size: 11pt
    ; font-weight: bold
    ; padding: 0
    }

#workspaces button label
    { padding: 1px 8px 0px 8px
    ; margin: 0px
    ; color: #ebdbb2
    ; border-radius: 5px 5px 5px 5px
    ; background-color: #1d2021
    }

#workspaces
    { margin-left: 5px
    }

#workspaces button.visible label,
#workspaces button.focused label
    { background-color: #3c3836
    ; color: #ebdbb2
    }

#clock,
#network,
#battery
    { background-color: #1d2021
    ; padding: 0px 8px
    ; margin: 5px 0px 0px 5px
    ; border-radius: 5px 5px 5px 5px
    ; color: #ebdbb2
    }

#clock.1
    { margin-right: 5px
    ; border-radius: 5px 5px 5px 5px
    }

#clock.2
    { border-radius: 5px 5px 5px 5px
    }
