
* {
  padding: 0em;
  transition-duration: 0s;
  margin: 0em;

  /* Proportional fonts are better for waybar */
  font-family: 'FiraCode Nerd Font Propo';
  font-size: 11pt;
  font-weight: bold;
}

window#waybar {
  background-color: rgba(40, 40, 40, 0.8);
  border-radius: 2em;
  padding: 0.2em;
}

#workspaces {
  margin-left: 0.5em;
}

#workspaces button {
  margin: 0.3em 0.2em;
  background: transparent;
}

#workspaces button label {
  padding: 0.2em 0.5em;
  color: #ebdbb2;
  border-radius: 0.5em;
  background-color: rgba(29, 32, 33, 0.5);
  font-weight: normal;
}

#workspaces button.visible label,
#workspaces button.focused label {
  background-color: rgba(60, 56, 54, 0.5);
  color: #ebdbb2;
}

#clock,
#network,
#wireplumber,
#idle_inhibitor,
#battery,
#mode,
#custom-power {
  background-color: rgba(29, 32, 33, 0.5);
  padding: 0.2em 0.5em;
  margin: 0.3em 0.25em;
  border-radius: 0.5em;
  color: #ebdbb2;
}

#custom-power {
  margin-right: 0.5em;
}
